{% load static  %}
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <title>Blog style?</title>
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"/>
        <link href="{% static 'css/blog.css'%}" rel="stylesheet"/>
        <script type="text/javascript" src="{% static 'js/jquery/jquery-1.8.3.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/tinymce/tinymce.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/postwall.js' %}"></script>
        <script type="text/javascript">
            
        </script>
    </head>
    <body>
        
        <div class="navbar-wrapper">
            <div class="container">
                
                <div class="navbar navbar-inverse navbar-static-top" role="navigation">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#">Project name</a>
                        </div>
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="#">Post Wall</a></li>
                                <li><a href="{{ 'newpost' }}">Create Post</a></li>
                                <li><a href="#contact">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        
        <div class="container">
            
            <div class="blog-header">
                <!-- update Username to actual username when sessions are set. -->
                <h1 class="blog-title">{{ request.session.username }}</h1>
                <p class="lead blog-description">Welcome to social media!</p>
            </div>
            
            <div class="row">  
                <div class="col-sm-8 blog-main">
                    <div id="post-dbId"class="blog-post">
                        <div id="post_overlay-dbId" class="post-overlays">
                            <button class="btn btn-default btn-md post_overlayButtons overlayEdit" id="post_edti-dbId">Edit</button>
                            <!-- TODO replace the href of the delete to webservice URI with DELETE HTTP request -->
                            <a role="button" class="btn btn-default btn-md post_overlayButtons overlayDelete" href="">Delete</a>
                        </div>
                        <h2 class="blog-post-title">Another blog post</h2>
                        <div id="post_category-dbId">
                            <p class="blog-post-meta">Categories: <span>Latin, Language<span></p>
                        </div>
                        <div id="post_description-dbId">
                            <p>Post description</p>
                        </div>
                        <div id="post_source-dbId">
                            <p class="blog-post-meta">Source: <span>http://getbootstrap.com<span></p>
                        </div>
                        <div id="post_origin-dbId">
                            <p class="blog-post-meta">Origin: <span>http://getbootstrap.com<span></p>
                        </div>
                        <div id="post_content-dbId" class="blog_content">
                            <p>Cum sociis natoque penatibus et magnis <a href="#">dis parturient montes</a>, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.</p>
                            <blockquote>
                                <p>Curabitur blandit tempus porttitor. <strong>Nullam quis risus eget urna mollis</strong> ornare vel eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                            </blockquote>
                            <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
                            <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                        </div>
                        <div id="post_author_info-dbId">
                            <p class="blog-post-meta">Posted on March 8, 2014 by <a href="#">Jacob</a></p>
                        </div>
                        <!-- hidden div where it will be storing the permissions value from the DB. Needed when editting the post to load previous contents asynchronously -->
                        <input id="post_permission-dbId" type="hidden" value="public"/>
                        <!-- end of post -->
                        <!-- start of comments -->
                    </div>
                    <div id="post_comment-dbId" class="well">
                            <h4> Comments </h4>
                            <!-- test comments for display purposes -->
                            <!-- TODO later this would be replaced with a for loop -->
                            <div id="post_comment-commentdbId1" class="post_comments">
                                <p> Test Comment 1</p>
                                <p class="blog-post-meta">Commented by: Author1</p>
                            </div>
                            <hr/>
                            <div id="post_comment-commentdbId2" class="post_comments">
                                <p> Test Comment 2</p>
                                <p class="blog-post-meta">Commented by: Author2</p>
                            </div>
                            <hr>
                            <!--div id="post_new_comment">
                                <form id="new_comment-postId" class="form-horizontal" action="#" method="post"
                            </div-->
                        </div>
                    </div><!-- /.blog-post -->
                <!-- /.blog-main -->
            </div>
                
                <div class="col-sm-3 col-sm-offset-1 blog-sidebar list_friends">
                    <div class="sidebar-module sidebar-module-inset">
                        <h4>Friends</h4>
                        <img data-src="holder.js/140x140" class="img-rounded" alt="140x140" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNDAiIGhlaWdodD0iMTQwIj48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI2VlZSI+PC9yZWN0Pjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjcwIiB5PSI3MCIgc3R5bGU9ImZpbGw6I2FhYTtmb250LXdlaWdodDpib2xkO2ZvbnQtc2l6ZToxMnB4O2ZvbnQtZmFtaWx5OkFyaWFsLEhlbHZldGljYSxzYW5zLXNlcmlmO2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPjE0MHgxNDA8L3RleHQ+PC9zdmc+" style="width: 140px; height: 140px;">
                        <img data-src="holder.js/140x140" class="img-rounded" alt="140x140" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNDAiIGhlaWdodD0iMTQwIj48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI2VlZSI+PC9yZWN0Pjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjcwIiB5PSI3MCIgc3R5bGU9ImZpbGw6I2FhYTtmb250LXdlaWdodDpib2xkO2ZvbnQtc2l6ZToxMnB4O2ZvbnQtZmFtaWx5OkFyaWFsLEhlbHZldGljYSxzYW5zLXNlcmlmO2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPjE0MHgxNDA8L3RleHQ+PC9zdmc+" style="width: 140px; height: 140px;">
                        <img data-src="holder.js/140x140" class="img-rounded" alt="140x140" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNDAiIGhlaWdodD0iMTQwIj48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI2VlZSI+PC9yZWN0Pjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjcwIiB5PSI3MCIgc3R5bGU9ImZpbGw6I2FhYTtmb250LXdlaWdodDpib2xkO2ZvbnQtc2l6ZToxMnB4O2ZvbnQtZmFtaWx5OkFyaWFsLEhlbHZldGljYSxzYW5zLXNlcmlmO2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPjE0MHgxNDA8L3RleHQ+PC9zdmc+" style="width: 140px; height: 140px;">
                    </div>
                </div><!-- /.blog-sidebar -->
                
            </div><!-- /.row -->
            
        </div><!-- /.container -->
        
        <div class="blog-footer">
            <a href="#">Back to top</a>
        </div>
        
    </body>
</html>
