{% load static  %}
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/forms.css' %}">
</head>
<body class="dashboard">
	<div id = "container">
		<div id="content" class="colMS">
			<h1>Server Administration </h1>
			<div id="content_main">
				<div class = "app-auth module">
					<table>
						<caption> 
							Pending Users
						</caption>
						<tbody>
							<tr><th scope = "row"></th><td> </td> </tr>
							{% for item in users %}
							{% if not item.active %}
							<tr>
								<th scope = "row">
									{{ item.username }}
								</th>
								
								<td> {{ item.register_date }}</td> 
								<td> {{item.role}}</td>
								<td>
									<form action="/author/{{ item.guid }}/activate/"  method="POST" >
										{% csrf_token %}
										<input type="hidden" value="{{ item.username }}"  name = "username"/>
										<input type="hidden" value="add" name="method" >
										<a href="javascript:; parentNode.submit();" onclick="parentNode.submit();" class="addlink">add</A>
										</form>	
									</td>
									<td>
										<form action="/author/{{ item.guid }}/modify/"  method="POST" >
											{% csrf_token %}
											<input type="hidden" value="{{ item.username }}"  name = "username"/>
											<input type="hidden" value="change" name="method" >
											<a href="javascript:; parentNode.submit();" onclick="parentNode.submit();" class="changelink">change</A>
											</form>	
										</td>
									</tr>
									{%endif%}			
									{% endfor %}
									<tr></tr>
								</tbody>
							</table>
						</div>
						<div class = "app-auth module">
							<table>
								<caption> 
									Current Users
								</caption>
								<tbody>
									<tr><th scope = "row"></th><td> </td> </tr>
									{% for item in users %}
									{% if item.active %}
									<tr>
										<th scope = "row">
											{{ item.username }}
										</th>
										<td> {{ item.register_date }}</td> 
										<td> {{item.role}}</td>
										<td>
											<form action="/author/{{ item.guid }}/delete/"  method="POST" >
												{% csrf_token %}
												<input type="hidden" value="{{ item.username }}"  name = "username"/>
												<input type="hidden" value="delete" name="method" >
												<a href="javascript:; parentNode.submit();" onclick="parentNode.submit();" class="deletelink">delete</A>
												</form>	
											</td>
											<td>
												<form action="/author/{{ item.guid }}/modify/"  method="POST" >
													{% csrf_token %}
													<input type="hidden" value="{{ item.username }}"  name = "username"/>
													<input type="hidden" value="change" name="method" >
													<a href="javascript:; parentNode.submit();" onclick="parentNode.submit();" class="changelink">change</A>
													</form>	
												</td>
											</tr>
											{%endif%}	
											{% endfor %}

										</tbody>


									</table>

								</div>

								<div class = "app-auth module">
									<fieldset class = "module aligned">
										<h2> Permissions </h2>
										<div class="form-row posts-is_active">
											<div class="checkbox-row">
												<input checked="checked" name="is_public_posts" type="checkbox">
												<label class="vCheckboxLabel" for="id_is_public_posts">Public Posts</label>
												<p class="help">Designates whether posts can be shared with other servers.</p>
											</div>
										</div>
										<div class="form-row field-is_staff">
											<div class="checkbox-row">
												
										<div class="checkbox-row">
											<form action="" method="POST">
												{% csrf_token %}
												<input type="submit" value="Save" class="default" name="_save">
											</form>
										</div><input checked="checked" name="is_public_images" type="checkbox">
												<label class="vCheckboxLabel">Public Images</label>
												<p class="help">Designates whether images can be shared with other servers.</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</fieldset>
				</div>
			</div>
		</div>
	</div>
</body>
</html>